body{
    margin: 1rem;
}
button{
    margin: .5rem;
}
img{
    max-width: 95%;
}

.fixedbottom {
    position: fixed;
    bottom: -4px;
    right: 10px;
    text-align: right;
    margin-bottom: 10px;
    /*   margin-right: 10px; */
    margin-left: 20px !important;
    width: 4rem;
}

.initial{
    text-align: center;
    padding: 1 rem;
}

#code{
    color: blue;
}

#q-img{
    max-height: 30vh;
}

#result{
    text-align: center;
}

.status{
    max-height: 40px;
    margin-top: 1rem;;
    padding: .2rem;
    
}

.container{
    padding: 2rem;
}

.card{
    text-align: center;

}

#qr{
    max-width: 200px;
    padding: .5rem;
}

.mainhead{
    width: auto;
    padding: 1rem;
    max-height: 20vh;
    display: block;
  margin-left: auto;
  margin-right: auto;
  
}